@import '../../Variables.scss';

.input {
  &__title {
    font-size: 18px;
    color: $primaryColorHover;
    letter-spacing: 1px;
    margin: 0;
  }

  &__form {
    margin-bottom: 20px;
    :focus {
      border: 2px solid $primaryColorHover;
    }
  }

  &__body {
    width: 60vw;
    height: 5vh;
    padding: 2px;
    background-color: $primaryColor;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: $pageBackgroundColor;
    outline: none;
  }
}
