$pageBackgroundColor: rgb(57, 61, 79);
$primaryColor: rgba(217, 251, 252, 0.5);
$primaryColorHover: rgba(217, 251, 252, 0.8);
$borderColor: rgba(99, 121, 173, 0.8);

$colorSecondary: rgba(3, 83, 255, 0.9);

:export {
  colorLight: $primaryColor;
  colorLightHover: $primaryColorHover;
}
