$pageBackgroundColor: rgb(37, 39, 51);
$primaryColor: rgba(217, 251, 252, 0.5);
$primaryColorHover: rgba(227, 251, 252, 0.9);
$borderColor: rgba(99, 121, 173, 0.8);

$colorSecondary: rgba(3, 83, 255, 0.9);

:export {
  colorLight: $primaryColor;
  colorLightHover: $primaryColorHover;
}
